spring:
  datasource:
    url: ${DATABASEURL}
    password: ${DATABASE_PASSWORD}
    username: ${DATABASE_ID}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL55Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        highlight_sql: true
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
    database: mysql
  #      open-in-view: false
  redis:
    host: localhost
    port: 6379
logging:
  level:
    org.hibernate.sql: info
    org.hibernate.type.descriptor.sql: trace
  #    org.hibernate.type: trace

jwt:
  key:
    secret: ${JWT_KEY}
  access-token-expiration-minutes: 30
  refresh-token-expiration-minutes: 420

mail:
  address:
    admin: ${ADMIN}
  smtp:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_ID}
    password: ${MAIL_PASSWORD}
    auth: true
    starttls:
      enable: true
  subject:
    member:
      registration: 가입 환영한다 얼간이들아
  template:
    name:
      member:
        join: email-registration-member
data-api:
  service-key: ${SERVICE_KEY}
  service-url: https://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?